body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://cheezburger.com/2789378304');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
