body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.google.com/search?q=waiting+funny+pics&tbm=isch&ved=2ahUKEwjt0NnIhqXtAhWVtKQKHdk2CxIQ2-cCegQIABAA&oq=waiting+funny+pics&gs_lcp=CgNpbWcQAzIECAAQEzIICAAQBRAeEBMyCAgAEAUQHhATMggIABAIEB4QEzIICAAQCBAeEBM6BAgAEEM6AggAOgQIABAeUJEeWPs5YMM8aABwAHgAgAG1AYgBlAmSAQM2LjWYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=MSnCX630OZXpkgXZ7ayQAQ&bih=1478&biw=2844#imgrc=qWjMCa4t7UEnDM&imgdii=4tp3bIOWsS6mDM');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
